{{ define "main" }}
<!-- Main content -->
<section id="radiolaria-album-content" class="clearfix">
{{ .Content }}
</section>

<!-- Tracklist -->
<section id="radiolaria-album-tracklist">
    <h2>{{ T "tracklist" }}</h2>
    <table class="table table-striped playlist"><tbody>
        {{ range $idx, $page := .Pages }}
        <tr>
            <td class="text-right text-nowrap">{{ add $idx 1}}</td>
            <td><a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a></td>
            <td class="text-right text-nowrap">{{ with $page.Params.length }}{{ printf "%d:%.2d" (div . 60) (mod . 60) }}{{ end }}</td>
            <td>{{ with $page.Params.mediafileurl }}<a type="audio/mpeg" href="{{ . }}"><i class="fas fa-play playbtn"></i></a>{{ end }}</td>
            <td class="text-center text-nowrap">{{ with $page.Params.mediafileurl }}<a href="{{ . }}"><i class="fas fa-download"></i> {{ T "download" }}</a>{{ end }}</td>
        </tr>
        {{ end }}
    </tbody></table>
</section>

<!-- Release data -->
{{ if or .Params.credits .Params.released }}
<section id="radiolaria-album-released">
    <h2>{{ T "releaseData" }}</h2>
    {{ with .Params.credits }}
    <dl>
        {{ range $title, $value := . }}
        <dt>{{ $title | title | markdownify }}</dt>
        <dd>{{ $value | markdownify }}</dd>
        {{ end }}
    </dl>
    {{ end }}
    {{ with .Params.released }}<p>{{ . | markdownify }}</p>{{ end }}
</section>
{{ end }}
{{ end }}