<!-- Single post item, which is displayed in a list as a card -->
<article class="card uni-height text-center">
    <!-- Link overlay -->
    <a href="{{ .RelPermalink }}" class="card-link-overlay"></a>

    <!-- Post image -->
    <div class="top-image">
        {{- $url := .Params.image }}
        {{- with $url }}
            {{- if not (findRE "^(/|http(s?)://)" $url) }}
                {{- $url = ($.Page.Resources.GetMatch $url).RelPermalink }}
            {{- end }}
        {{- else -}}
            {{- $url = "/images/image-placeholder.png" -}}
        {{- end -}}
        <img src="{{ $url }}" alt="Post image">
    </div>

    <!-- Post body -->
    <div class="card-body mb-3"><h6 class="card-title">{{ with .Params.series }}{{ . }} ‣ {{ end }}{{ .Title | markdownify }}</h6></div>

    <!-- Post date -->
    <div class="card-footer small">{{- partial "date" (dict "date" .Date "long" false) -}}</div>
</article>

