<!-- Single post item, which is displayed in a list -->
<article class="blog-post">
    <!-- Post heading -->
    <h2><a href="{{ .Permalink }}">{{ with .Params.series }}{{ . }} ‣ {{ end }}{{ .Title | markdownify }}</a></h2>

    <!-- Post metadata -->
    <div class="page-heading-meta">{{ partial "date" (dict "site" $.Site "date" .Date "long" false) }}</div>

    <!-- Post body -->
    <div class="row blog-post-content">
        <!-- Post image -->
        <div class="col-xs-2 col-md-6 text-center mb-3 mb-md-0">
            {{- with .Params.image -}}
                {{- $url := . -}}
                <!-- Same logic as in the 'imgfig' shortcode: if it isn't a URL starting with "http(s)://", consider it a page resource -->
                {{- if not (or (hasPrefix $url "http://") (hasPrefix $url "https://")) -}}
                    {{- $url = ($.Page.Resources.GetMatch $url).RelPermalink -}}
                {{- end -}}
                {{- with $url }}<img class="img-fluid blog-post-image" src="{{ . }}" alt="Post image">{{ end -}}
            {{- end -}}
        </div>

        <div class="col-xs-10 col-md-6">
            <!-- Post summary. Use the explicit description, if any. Otherwise the summary, with figures (images) and divs (videos etc) removed -->
            {{- with .Params.description }}
            {{- . | markdownify }}
            {{- else }}
            {{- .Summary | replaceRE "(?s)<figure\\b.*?/figure>" "" | replaceRE "(?s)<div\\b.*/div>" "" | safeHTML }}
            {{- end -}}

            <!-- Read On link -->
            <p><a href="{{ .Permalink }}" class="btn btn-outline-primary">{{ T "readOn" }}</a></p>
        </div>
    </div>
</article>
