{{ define "title" }}{{ with .Params.series }}{{ . }} ‣ {{ end }}{{ .Title | markdownify | plainify | safeHTML }} | {{ .Site.Title }}{{ end }}

{{ define "schema-dot-org" }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ substr .Title 0 110 }}",
  {{ with .Params.image -}}
  "image": {
    "@type": "ImageObject",
    "url": "{{ . | absURL }}"
    {{- if not (or (hasPrefix . "http://") (hasPrefix . "https://")) -}}
    {{- with $.Page.Resources.GetMatch . -}},
    "height": "{{ .Height }}",
    "width": "{{ .Width }}"
    {{- end -}}
    {{ end }}
  },
  {{- end }}
  "url": "{{ .Permalink }}",
  "wordCount": "{{ .WordCount }}",
  {{- $ISO8601 := "2006-01-02T15:04:05-07:00" }}
  {{- if not .PublishDate.IsZero }}
  "datePublished": {{ .PublishDate.Format $ISO8601 }},
  {{- else }}
  "datePublished": {{ .Date.Format $ISO8601 }},
  {{- end }}
  {{- if not .Lastmod.IsZero }}
  "dateModified": {{ .Lastmod.Format $ISO8601 }},
  {{- end }}
  "author": {
    "@type": "Person",
    "name": "{{ .Params.author | default .Site.Params.author }}"
  },
  {{- if or (.Params.categories) (.Params.tags) }}
  "keywords": "{{ delimit (union .Params.categories .Params.tags) `, ` }}",
  {{- end }}
  "description": "{{ with .Params.description }}{{ . | markdownify | plainify | safeHTML }}{{ else }}{{ .Summary | plainify | safeHTML }}{{ end }}"
}
</script>
{{ end }}

{{ define "heading" }}
    <!-- Top previous-next post link bar -->
    <div class="col">
        <nav class="paginator-before" aria-label="Blog navigation">{{ partial "blog/post_nav" . }}</nav>
    </div>

    <!-- Post title -->
    <h1>{{ with .Params.series }}{{ . }} ‣ {{ end }}{{ .Title | markdownify }}</h1>
{{ end }}

{{ define "main" }}
{{- $page := . }}
{{- $seriesLink := "" }}{{ with .Params.series }}{{ $seriesLink = relref $page (print `/series/` (urlize .)) }}{{ end }}
<article class="blog-post-single">

    <!-- Post metadata -->
    <p class="page-heading-meta">
        {{- partial "date" (dict "date" .Date "format" .Site.Params.dateFormat) -}}
        <span class="dot-sep"></span>{{ T "authoredBy" }}&nbsp;{{ .Params.author | default .Site.Params.author }}
        {{- with .Params.series }}<span class="dot-sep"></span>{{ T "postedInSeries" }}&nbsp;<a href="{{ $seriesLink }}">{{ . }}</a>{{ end -}}
    </p>

    <!-- Post content -->
    {{ .Content }}

    <!-- Full-text link, if any -->
    {{ with .Params.fulltext_url }}
    <p><a href="{{ . }}" class="btn btn-primary">{{ T "readOnAt" }}&nbsp;{{ (urls.Parse .).Host }}</a></p>
    {{ end }}

    <!-- Post footer -->
    <div class="blog-post-footer">

        <div class="blog-post-meta">
            <!-- Link to the post series, if any -->
            {{- with .Params.series }}
            <p class="dot-separated">
                <i class="fas fa-layer-group bycon"></i><a href="{{ $seriesLink }}">{{ T "otherPostsSeries" }}</a>
            </p>
            {{- end }}

            <!-- Links to translations -->
            {{- if .IsTranslated }}
            <p class="dot-separated">
                <i class="fas fa-flag-checkered bycon"></i>{{- T "postInLangs" -}}&nbsp;
                {{- range $idx, $translation := .Translations }}{{ if $idx }}, {{ end -}}
                <a href="{{ .Permalink }}">{{ T (print "postIn_" .Lang) }}</a>
                {{- end -}}
            </p>
            {{- end }}

            <!-- Categories -->
            {{- if .Params.categories }}
            <p class="dot-separated">
                <i class="fas fa-folder bycon"></i>{{ range $idx, $category := .Params.categories }}{{ if $idx }}, {{ end }}<a href="{{ relref $page (print `/categories/` (urlize .)) }}" rel="category tag">{{ . }}</a>{{ end }}
            </p>
            {{- end }}

            <!-- Tags -->
            {{- if .Params.tags }}
            <p class="dot-separated">
                <i class="fas fa-tag bycon"></i>{{ range $idx, $tag := .Params.tags }}{{ if $idx }}, {{ end }}<a href="{{ relref $page (print `/tags/` (urlize .)) }}" rel="tag">{{ . }}</a>{{ end }}
            </p>
            {{- end }}

            <!-- Post ID -->
            <p class="dot-separated">
                <i class="fas fa-key bycon"></i><abbr title="{{ T `blogPostId` }}">{{ path.Base .File.Dir }}</abbr>
            </p>
        </div>

        <!-- Sharing buttons -->
        {{ partial "blog/post_share" . }}
    </div>

    <!-- Comments -->
    <section class="blog-post-comments">
        <h3>{{ T "comments" }}</h3>
        <!-- Do not insert comments block in drafts or when running on localhost -->
        {{- if or .Draft (in (print $.Site.BaseURL) "localhost") }}
            <div class="placeholder">(comments will go here)</div>
        {{- else }}
            <div id="commento"></div>
            <script src="{{ .Site.Params.commentoUrl }}"></script>
        {{- end }}
    </section>
</article>

<!-- Bottom previous-next post link bar -->
<div class="col">
    <nav class="paginator-after" aria-label="Blog navigation">{{ partial "blog/post_nav" . }}</nav>
</div>

{{ end }}
