// Import fonts
@import url('https://fonts.googleapis.com/css?family=Arimo|Roboto+Condensed&display=swap');

// Base colours
$primary: #089664;
$secondary: #fc0;

// Our own vars
$primary-fade: fade_out($primary, 0.7);
$primary-light: adjust_color($primary, $saturation: -50%, $lightness: 40%);
$primary-pale: adjust_color($primary, $saturation: -70%, $lightness: 20%);
$secondary-fade: fade_out($secondary, 0.87);

// Secondary elements
$body-color: #666;
$body-bg: #333;
$link-hover-color: $secondary;
$link-hover-bg: $body-bg; // Not a Bootstrap variable
$link-hover-decoration: none;
$list-group-border-color: $primary-fade;
$list-group-hover-bg: $link-hover-bg;
$list-group-action-hover-color: $secondary;
$navbar-dark-color: #fff;
$navbar-dark-active-color: #000;
$navbar-dark-hover-color: $secondary;
$nav-tabs-link-active-color: #aaa;
$nav-tabs-link-active-bg: #fff;
$pagination-hover-bg: $link-hover-bg;

// Enable advanced theming
$enable-shadows: true;
$enable-gradients: true;

// Import Bootstrap
@import "../bootstrap-4.3.1/scss/bootstrap";

body {
    background-image: url(/images/page-bg.png);
    font-family: 'Arimo', sans-serif;
}

#page {
    padding: 15px 0 40px 0;
    background: #fff;
}
#footer {
    padding: 1rem;
    text-align: center;
    color: $gray-400;
    font-size: 90%;

    a {
        color: $primary-light;
        @include hover-focus {
            color: $secondary;
            background-color: transparent;
        }
        &.active {
            color: #fff;
        }
    }
    .nav-item {
        text-align: left;
    }
    .nav-link {
        padding: .2rem 2rem;
    }
}
.jumbotron {
    text-align: center;
    background-color: transparent;
}
img.article-opener {
    float: left;
    border-radius: 6px;
    margin: 0.5em 2em 1em 0;
    max-width: 250px;
    height: auto;
}
section {
    margin-bottom: 2rem;
}

// Anchors
a {
    transition: all .2s ease-in;

    @include hover-focus {
        background-color: $link-hover-bg;
    }

    &.internal {
        border-bottom: 1px dashed #5a9681;
    }

    &.wikipedia:after {
        content: "w";
        vertical-align: super;
        padding-left: 2px;
        font-family: serif;
        font-size: 65%;
    }
}

// Buttons
.btn-outline-dark:not(.disabled) {
    &.active {
        color: $secondary !important;
    }
    @include hover-focus {
        color: #fff;
    }
}
#btn-scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: all .5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    font-size: 2em;

    &.show {
        opacity: 0.9;
        visibility: visible;
    }
}

// Tables
.table {
    thead {
        background-color: $primary-fade;
    }
}
.table-narrow {
    width: auto;
}
td.number {
    text-align: right;
    white-space: nowrap;
}
td.date {
    white-space: nowrap;
}

// Blockquotes
blockquote {
    background-color: $secondary-fade;
    border-left: 2px solid $secondary;
    border-bottom-right-radius: 18px;
    padding: 1rem;

    p:last-child {
        margin: 0;
    }
}

// List groups
.list-group {
    .fa, .fas, .fab {
        margin-right: 1rem;
    }
    .list-group-item-iconized {
        display: flex;
        flex-direction: row;
        justify-content: left;

    }
    .list-group-img-64 {
        padding: 0.5rem 2rem 0.5rem 0.5rem;
        width: 110px;

        img {
            width: 64px;
            height: auto;
        }
        .fa, .fas, .fab {
            font-size: 64px;
        }
    }
    .list-group-img-32 {
        padding: 0.25rem 1rem 0.25rem 0.52rem;
        width: 64px;

        img {
            width: 32px;
            height: auto;
        }
        .fa, .fas, .fab {
            font-size: 32px;
        }
    }
    .list-group-text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .list-group-heading {
        font-weight: $font-weight-bold;
        font-size: 110%;
    }
    .list-group-details {
        font-size: 85%;
    }
}

// Cards
.card {
    .top-image {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #c4c4c4;
        height: 50%;
        overflow: hidden;

        a:hover, a:focus {
            background-color: transparent;
        }
    }
    &.uni-height {
        padding-bottom: 10%;
        height: 95%;
    }
}

// Figure
.imgfig {
    display: block;
    margin: 0 auto;
    text-align: center;

    .figure-img {
        max-width: 100%;
        height: auto;
        max-height: 800px;
    }

    .figure-caption {
        margin-bottom: 1rem;
    }

    a:hover, a:focus {
        background-color: transparent;
    }
}

// Pre
pre {
    padding: 1rem;
    margin: 0 0 1rem 0;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border-radius: 4px;
}

// Navbar
#navbar {
    font-family: 'Roboto Condensed', sans-serif;

    // Non-collapsed navbar (width >= lg)
    @include media-breakpoint-up("lg") {
        padding-bottom: 0;
        // Align logo on top of the nav
        flex-flow: column nowrap;
    }

    .navbar-nav {
        .nav-link {
            padding: 0.7rem 1.4rem;
        }
        .active > .nav-link,
        .nav-link.active {
            //noinspection CssInvalidPropertyValue
            background: $secondary;
            box-shadow: rgba(0, 0, 0, 0.25) 0 3px 9px 0 inset;
        }
    }
}


// Blog
.blog-feed {

    .blog-post {
        border-bottom: $primary-fade 2px dotted;
        padding: 1rem .5rem 3rem .5rem;
        margin-bottom: 1rem;

        .blog-post-image {
            max-width: 100%;
            height: auto;
            max-height: 400px;
        }
    }
}
.blog-post-single {
    .blog-post-sidebar {
        font-size: 90%;
        background-color: #f8f8f8;
        margin-top: -1rem;
        padding-bottom: 1rem;

        .sticky-top {
            padding-top: 1rem;
        }

        ul {
            padding-left: 1rem;
        }
        section {
            margin-bottom: 1rem;
        }
    }
}
.blog-paginator {
    display: flex;
    justify-content: center;
}
.blog-post-list {

    th {
        font-size: 200%;
        font-weight: $font-weight-bold;
        padding: 2rem 0 0.7rem 0;
    }

    td {
        padding: 2px 0 2px 8px;

        &.number, &.date {
            font-size: 90%;
        }
    }
}
.post_none:before, .post_en:before, .post_ru:before, .post_nl:before {
    color: #fff;
    font-size: 10px;
    width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
    padding: 2px;
    margin: 0;
}
.post_none:before {
    content: "\a0";
}
.post_en:before {
    background-color: #c06666;
    content: "En";
}
.post_ru:before {
    background-color: #6666c0;
    content: "Ru";
}
.post_nl:before {
    background-color: #66c066;
    content: "Nl";
}

// Pagination
.paginator-before {
    padding: 0;
}
.paginator-after {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

// Tags
.tag-cloud {
    text-align: center;

    li a {
        padding: 0.2rem 0.4rem;
        margin: 0.4rem 0;
        text-align: center;
        vertical-align: middle;
        line-height: 2rem;
        border-radius: 6px;
    }
    .tag {
        white-space: nowrap;
    }
    .tag-size-1 {
        font-size: 80%;
        opacity: .8;
    }
    .tag-size-2 {
        font-size: 100%;
        opacity: .9;
    }
    .tag-size-3 {
        font-size: 115%;
    }
    .tag-size-4 {
        font-size: 130%;
    }
    .tag-size-5 {
        font-size: 150%;
        font-weight: bold;
    }
    .tag-size-6 {
        font-size: 180%;
        font-weight: bold;
    }
    .tag-size-7 {
        font-size: 220%;
        font-weight: bold;
    }
}

// Table of contents
#TableOfContents {
    // Hide the first level
    > ul {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        ul {
            list-style-type: disc;
        }
    }
}
// The toc shortcode
.table-of-contents {
    #TableOfContents {
        // Make second level links bold
        > li > ul > li > a {
            font-weight: 700;
        }
    }
}

// Downloads
.download {
    padding: 0.7rem;
    border-bottom: 1px solid #ccc;

    .btn {
        min-width: 80%;
        white-space: normal;

        .icon {
            font-size: 32px;
        }
    }

    &.featured {
        padding: 1.5rem;
        background: #f5f5f5;
        border-top-left-radius: 18px;
        border-bottom: none;

        .btn {
            width: 100%;

            .icon {
                font-size: 64px;
            }
        }
    }
}

// Carousel
.carousel-item {
    img {
        display: block;
        margin: 1rem auto 4rem auto;
    }
    .carousel-caption {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 3.5rem;
        z-index: 10;
        padding: 1rem;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center;
    }
}

// Audio
a {
    > .playbtn:before {
        content: "\f04b"; // = fa-play
    }

    &.active > .playbtn:before {
        content: "\f144"; // = fa-play-circle
    }

    &.paused > .playbtn:before {
        content: "\f28b"; // = fa-pause-circle
    }
}

// Lyrics
.lyrics-text {
    margin: 0;

    &.indent {
        padding-left: 2rem;
    }
}
#radiolaria-track-lyrics {
    .chord {
        color: #660093;
        font-weight: $font-weight-bold;
        white-space: pre;
        display: none;
    }
    &.chords {
        font-family: monospace;

        .chord {
            display: block;
        }
    }
}

// Misc
// A by-icon, icon that precedes some label
.bycon {
    padding-right: 0.2em;
}
.dot-sep {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    &:before {
        content: "·";
    }
}
.dot-separated {
    display: inline-block;
    padding-left: 0.25rem;
    &:before {
        content: "·";
        padding-right: 0.25rem;
    }
    &:first-child {
        padding-left: 0;
        &:before {
            content: "";
            padding-right: 0;
        }
    }
}
.flang {
    font-style: italic;
    color: #4e0070;
}
.page-heading-meta {
    color: $primary-pale;
    font-size: 90%;
    margin-bottom: 2rem;

    time {
        font-weight: $font-weight-bold;
    }

    .meta-hover {
        visibility: hidden;
    }

    &:hover {
        .meta-hover {
            visibility: visible;
        }
    }
}
.placeholder {
    padding: 1rem;
    color: $gray-500;
    border: $gray-500 dashed 1px;
    border-radius: 8px;
}
#page-sharing-buttons {
    margin: 0;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

// Fixes for Commento
.commento-markdown-help {
    pre {
        background-color: transparent;
        padding: 0;
        color: #e83e8c;
    }
}