<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    {{- partial "head-meta.html" . }}

    {{- block "schema-dot-org" . }}{{ end }}

    <!-- Link to self -->
    <link rel="canonical" href="{{ .Permalink }}">

    <!-- Favicon   -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ `favicon.ico` | absURL }}"/>

    <!-- Page title -->
    <title>{{ block "title" . }}{{ with .Title }}{{ . | markdownify | plainify | safeHTML }} | {{ end }}{{ .Site.Title }}{{ end }}</title>

    <!-- Stylesheets -->
    {{ partial "stylesheets.html" . }}

    <!-- RSS feed -->
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s"/>` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    <!-- Google Analytics -->
    {{ template "_internal/google_analytics_async.html" . }}
</head>
<body>

<!-- Scroll to top button -->
<a id="btn-scroll-to-top" class="fas fa-angle-up btn btn-secondary"></a>

<!-- Header with a Navbar -->
{{ partial "navbar" . }}

<!-- Main page content -->
<section id="page">
    <div class="container">
        <!-- Second-level Navbar -->
        {{- block "secondary-navbar" . }}{{ end }}

        <!-- Heading -->
        {{- block "heading" . }}
        {{- if .Params.showHeading }}<h1>{{ .Title | markdownify }}</h1>{{ end }}
        {{- end }}

        <!-- Main content -->
        {{ block "main" . }}
        {{ .Content }}
        {{ end }}

        <!-- Bottom Navbar -->
        {{- block "bottom-navbar" . }}
        <!-- Sharing buttons -->
        <section id="page-sharing-buttons">
            <h5>{{ T "share" }}</h5>
            {{ partial "sharing-buttons" . }}
        </section>
        {{ end }}
    </div>
</section>

{{ partial "footer" . }}
{{ partial "scripts" . }}
{{ block "extra-scripts" . }}{{ end }}
</body>
</html>
