{{ define "heading" }}<h1>{{ T "glossary" }}: {{ .Title | .RenderString }}{{- with .Params.altTitles }}, {{ delimit . ", "}}{{ end }}</h1>{{ end }}

{{ define "main" }}
<section id="glossary-term">
    {{ .Params.description | .RenderString | default .Content }}

    <!-- Detail link, which is the first page corresponding to the glossary term, if any -->
    {{- range first 1 .Pages }}
        <p><a href="{{ .Permalink }}" class="btn btn-outline-primary">{{ T "details" }}: {{ .Title | .RenderString }}</a></p>
    {{- end }}
</section>

<!-- See also -->
{{- $term := .Data.Term | anchorize }}
{{- if or .Params.seeAlso (index .Site.Taxonomies.tags $term) }}
<h2>{{ T "seeAlso" }}</h2>
<ul>
    <!-- List any explicit See Also links to other glossary terms -->
    {{- range .Params.seeAlso -}}
        {{- with $.GetPage (print "/glossary/" .) -}}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{- else -}}
            {{- errorf "%s: failed to find Glossary term for seeAlso item %q" $.Page.File.Path . -}}
        {{- end -}}
    {{- end }}
    <!-- List any related posts mentioning the corresponding tag -->
    {{- with index .Site.Taxonomies.tags $term }}
        {{- range .Pages }}<li>{{ .Render "lang-link" }}</li>{{ end }}
    {{- end }}
</ul>
{{- end}}
{{ end }}
