{{ define "main" }}
<div class="row">
<div class="col-lg-7">
    <!-- Main content -->
    <section id="contact-main-content">
        {{ .Content }}
    </section>

    <!-- Contact form -->
    <section id="contact-form-container">
        <!-- TODO i18n -->
        <form id="contact-form" action="/en/about/contact" method="post">
            <div class="form-group field-contactform-email required">
                <label class="control-label" for="contactform-name">Your name</label>
                <input type="text" id="contactform-name" class="form-control" name="ContactForm[name]" aria-required="true">
                <p class="help-block help-block-error"></p>
            </div>
            <div class="form-group field-contactform-email required">
                <label class="control-label" for="contactform-email">Email address</label>
                <input type="text" id="contactform-email" class="form-control" name="ContactForm[email]" aria-required="true">
                <p class="help-block help-block-error"></p>
            </div>
            <div class="form-group field-contactform-subject required">
                <label class="control-label" for="contactform-subject">Message subject</label>
                <input type="text" id="contactform-subject" class="form-control" name="ContactForm[subject]" aria-required="true">
                <p class="help-block help-block-error"></p>
            </div>
            <div class="form-group field-contactform-body required">
                <label class="control-label" for="contactform-body">Message body</label>
                <textarea id="contactform-body" class="form-control" name="ContactForm[body]" rows="6" aria-required="true"></textarea>
                <p class="help-block help-block-error"></p>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" name="contact-button">Submit</button>
            </div>
        </form>
    </section>
</div>

<!-- Social links -->
<div class="col-lg-5">
    <section id="contact-social-links">
        <h2>{{ T "mySocialLinks" }}</h2>
        <div class="list-group">
            {{- range .Site.Data.contact.details }}
            <a class="list-group-item list-group-item-action list-group-item-iconized" href="{{ .url }}">
                <div class="list-group-img-32"><i class="{{ .icon }}"></i></div>
                <div class="list-group-text"><div class="list-group-heading">{{ .title }}</div></div>
            </a>
            {{- end }}
        </div>
    </section>
</div>
</div>
{{ end }}