<header>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark ua-bg">
        <a class="navbar-brand" href="{{ absLangURL `/` }}" title="{{ T `home` }}"><img src="{{ .Site.Params.logoUrl }}" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <!-- Compare items' URLs to derive the active status instead of using .IsMenuCurrent as it doesn't seem to work -->
            {{- $curURL := .RelPermalink -}}
            <!-- Left menu -->
            <ul class="nav navbar-nav mr-lg-5">
                {{- range where .Site.Menus.nav "Weight" "<" 100 }}
                <li><a class="nav-link{{ if eq $curURL (.URL | relLangURL | string) }} active{{end}}" href="{{ .URL | absLangURL }}" title="{{ if .Pre }}{{ T .Identifier }}{{ end }}">
                    {{- with .Pre }}{{ . | safeHTML }}{{ else }}{{ T .Identifier }}{{ end -}}
                </a></li>
                {{- end }}
            </ul>
            <!-- Right menu -->
            <ul class="nav navbar-nav ml-lg-5">
                {{ range .Translations }}
                    <li><a class="nav-link" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">{{ .Lang | upper }}</a></li>
                {{ end }}
                {{- range where .Site.Menus.nav "Weight" ">=" 100 }}
                <li><a class="nav-link{{ if eq $curURL (.URL | relLangURL | string) }} active{{end}}" href="{{ .URL | absLangURL }}" title="{{ if .Pre }}{{ T .Identifier }}{{ end }}">
                    {{- with .Pre }}{{ . | safeHTML }}{{ else }}{{ T .Identifier }}{{ end -}}
                </a></li>
                {{- end }}
            </ul>
        </div>
    </nav>
</header>
