<script>
    var cookieMessage = '{{ T "cookieMessage" }}';
    var cookieDismiss = '{{ T "cookieDismiss" }}';
    var cookieLink    = '{{ T "cookieLink" }}';
    var cookieInfoUrl = '{{ .Site.Params.cookieConsentInfoUrl | absLangURL }}';
</script>
{{- $jquery    := resources.Get "js/jquery-3.4.1.js" -}}
{{- $popper    := resources.Get "js/popper.js" -}}
{{- $bootstrap := resources.Get "js/bootstrap.js" -}}
{{- $magnific  := resources.Get "js/magnific.js" -}}
{{- $cc        := resources.Get "js/cookieconsent.js" -}}
{{- $main      := resources.Get "js/main.js" -}}
<script src="{{ (slice $jquery $popper $bootstrap $magnific $cc $main | resources.Concat `js/bundle.js` | minify).Permalink }}"></script>