{{- $url := printf "%s" .Permalink | absLangURL -}}
{{- if eq .Type "post" -}}
    {{- $url = print "/blog/post/" (.File.Dir | path.Base) | absLangURL -}}
{{- end -}}
{{- $title := .Title | markdownify | plainify | safeHTML -}}
<div class="share-buttons">
    <a title="{{ T `shareOn` `Facebook` }}"    href="https://facebook.com/sharer/sharer.php?u={{ $url }}" target="_blank" rel="noopener"><i class="fab fa-facebook colourise"></i></a>
    <a title="{{ T `shareOn` `Twitter` }}"     href="https://twitter.com/intent/tweet/?{{ querify `text` $title `url` $url | safeURL }}" target="_blank" rel="noopener"><i class="fab fa-twitter colourise"></i></a>
    <a title="{{ T `shareOn` `Tumblr` }}"      href="https://www.tumblr.com/widgets/share/tool?{{ querify `posttype` `link` `title` $title `caption` $title `content` $url `canonicalUrl` $url `shareSource` `tumblr_share_button` | safeURL}}" target="_blank" rel="noopener"><i class="fab fa-tumblr colourise"></i></a>
    <a title="{{ T `shareOn` `E-mail` }}"      href="mailto:?{{ querify `subject` $title `body` $url | safeURL }}" target="_blank" rel="noopener"><i class="fas fa-envelope colourise"></i></a>
    <a title="{{ T `shareOn` `Pinterest` }}"   href="https://pinterest.com/pin/create/button/?{{ querify `url` $url `media` $url `description` $title | safeURL }}" target="_blank" rel="noopener"><i class="fab fa-pinterest colourise"></i></a>
    <a title="{{ T `shareOn` `LinkedIn` }}"    href="https://www.linkedin.com/shareArticle?{{ querify `mini` `true` `url` $url `title` $title `summary` (.Summary | plainify | safeHTML) `source` $url | safeURL }}" target="_blank" rel="noopener"><i class="fab fa-linkedin colourise"></i></a>
    <a title="{{ T `shareOn` `Reddit` }}"      href="https://reddit.com/submit/?{{ querify `url` $url `resubmit` `true` `title` $title | safeURL }}" target="_blank" rel="noopener"><i class="fab fa-reddit colourise"></i></a>
    <a title="{{ T `shareOn` `XING` }}"        href="https://www.xing.com/app/user?{{ querify `op` `share` `url` $url `title` $title | safeURL }}" target="_blank" rel="noopener"><i class="fab fa-xing colourise"></i></a>
    <a title="{{ T `shareOn` `WhatsApp` }}"    href="whatsapp://send?{{ querify `text` (printf `%s %s` $url $title) }}" target="_blank" rel="noopener"><i class="fab fa-whatsapp colourise"></i></a>
    <a title="{{ T `shareOn` `Hacker News` }}" href="https://news.ycombinator.com/submitlink?{{ querify `u` $url `t` $title }}" target="_blank" rel="noopener"><i class="fab fa-y-combinator colourise"></i></a>
    <a title="{{ T `shareOn` `VK` }}"          href="https://vk.com/share.php?{{ querify `url` $url }}" target="_blank" rel="noopener"><i class="fab fa-vk colourise"></i></a>
    <a title="{{ T `shareOn` `Telegram` }}"    href="https://telegram.me/share/url?{{ querify `text` $title `url` $url }}" target="_blank" rel="noopener"><i class="fab fa-telegram colourise"></i></a>
</div>
