{{  $url := urls.Parse (.Get 0) -}}
{{- $text := .Get 1 -}}
{{- $lang := .Get 2 -}}
{{/* If there's "http(s)://" given, just use it as is, and no internal class added */}}
{{- if $url.Scheme -}}
    <a href="{{ .Get 0 }}">{{ $text }}</a>
{{- else -}}
    {{/* Otherwise we consider it an internal link */}}
    {{- $pageToLink := false -}}

    {{/* If there's language given, iterate all sites to find the one with this language */}}
    {{- with $lang -}}
        {{- range $.Page.Sites -}}
            {{- if eq .Language.Lang $lang -}}
                {{/* If a site is found, try to fetch the page */}}
                {{- with .GetPage $url.Path -}}{{- $pageToLink = . -}}{{- end -}}
            {{- end -}}
        {{- end -}}

    {{/* No language given: using the current site */}}
    {{- else -}}

        {{/* If there's a path present, use it to find the page */}}
        {{- with $url.Path -}}
            {{- with $.Page.GetPage . -}}{{- $pageToLink = . -}}{{- end -}}

        {{/* Otherwise assume we're dealing with the current page */}}
        {{- else -}}
            {{- $pageToLink = $.Page -}}
        {{- end -}}
    {{- end -}}

    {{/* Check if we managed to find anything */}}
    {{- with $pageToLink -}}
        <a href="{{ .RelPermalink }}{{ with $url.Fragment }}#{{ . }}{{ end }}" class="internal" title="{{ .Title }}">{{ $text }}</a>
    {{- else -}}
        {{- errorf "%s: Failed to find page for path %q and language %q (link text %q)" $.Page.File.Path (.Get 0) $lang $text -}}
    {{- end -}}
{{- end }}