<table class="table table-narrow">
    <tr>
        <th scope="row">{{ i18n "statsAllPages" }}</th>
        <td class="number">{{ len .Site.AllPages | lang.FormatNumber 0 }}</td>
    </tr>
    <tr>
        <th scope="row">{{ i18n "statsCurLangPages" }}</th>
        <td class="number">{{ len .Site.RegularPages | lang.FormatNumber 0 }}</td>
    </tr>
    <tr>
        <th scope="row">{{ i18n "statsBlogPages" }}</th>
        <td class="number">{{ len (where .Site.RegularPages "Type" "post") | lang.FormatNumber 0 }}</td>
    </tr>
    <tr>
        <th scope="row">{{ i18n "statsCurLangWords" }}</th>
        <td class="number">{{ $cw := 0 }}{{ range .Site.RegularPages }}{{ $cw = add $cw (countwords .Content) }}{{ end }}{{ $cw | lang.FormatNumber 0 }}</td>
    </tr>
    <tr>
        <th scope="row">{{ i18n "statsBuildDate" }}</th>
        <td class="date">{{ partial "date" (dict "date" .Site.Lastmod "long" false) }}</td>
    </tr>
</table>
