<!-- Render downloads for a specific category. Context:
    page     - page being rendered
    category - category whose downloads to list
-->
{{- $page := .page }}
{{- $items := index $page.Site.Data.downloads .category }}

<!-- First list featured, then others -->
{{- range slice true false }}
{{- $featured := . }}
{{- range where $items "isFeatured" $featured }}
{{- $title := index .title $page.Lang | markdownify }}
<div class="download{{ cond $featured ` featured` ``}} container-fluid">
    <div class="row">
        <div class="col-md-7">
            <p class="{{ cond $featured `h3` `h4` }}">{{ $title }}</p>
            <p>{{ index .description $page.Lang | markdownify }}</p>
            <p class="text-muted">{{ T "releasedOn" }}&nbsp;{{ partial "date" (dict "date" (time .releaseDate) "long" true) }}</p>
        </div>
        <div class="col-md-5 text-center">
            <a class="btn btn-success {{ cond $featured `btn-lg` `btn-sm` }}" href="{{ .downloadUrl }}">
                <div class="icon"><i class="fas fa-arrow-alt-circle-down"></i></div>
                <p>{{T "download" }}<br>{{ $title }}</p>
            </a>
        </div>
    </div>
</div>
{{- end }}
{{ end }}